---
layout: default
---
{% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}
{% assign tiers=site.data["team"] %}
<div class="content">
    {{ content }}
</div>
<style>
    ul, .team-member-description ul {
        list-style-type: disc !important;
        padding-left: 20px !important;
    }
</style>
<br>
<br>

<div class="columns is-multiline">
    {% for tier in tiers %}
        {% for member in tier.sponsors %}
            {% for project in member.projects %}
                {% if project.name == page.project and project.role %}
                    <div class="column is-3-desktop is-4-tablet">
                        <div class="card">
                            <a href="{{ member.profile }}" target="_blank">
                                <div class="card-image has-text-centered">
                                    <figure class="image is-256x256 is-inline-block">
                                        <img class="is-rounded" src="{{ member.image }}" />
                                    </figure>
                                </div>

                                <div class="card-content">
                                    <p class="title is-6">
                                        {{ member.name }} ({{ project.role }})
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {% for tier in tiers %}
        {% for member in tier.sponsors %}
            {% for project in member.projects %}
                {% if project.name == page.project and project.role == nil %}
                    <div class="column is-3-desktop is-4-tablet">
                        <div class="card">
                            <a href="{{ member.profile }}" target="_blank">
                                <div class="card-image has-text-centered">
                                    <figure class="image is-256x256 is-inline-block">
                                        <img class="is-rounded" src="{{ member.image }}" />
                                    </figure>
                                </div>

                                <div class="card-content">
                                    <p class="title is-6">
                                        {{ member.name }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
